<h1>Supported by:</h1>
<div class="grid-container">
        <div class="row">
            <div class="sponsor-grid-item">
                <a href="https://home.provincia.bz.it/it/home"><img class="sponsor-img" src="{{ "/assets/img/entities/bozenprovinz.jpg" | relative_url }}" alt="bozenprovinz"></a>
            </div>
            <div class="sponsor-grid-item">
                <a href="https://www.dfg.de/en"><img class="sponsor-img" src="{{ "/assets/img/entities/dfglogo.png" | relative_url }}" alt="dfg"></a>
            </div>
        </div>
</div>
