<h1>Sponsored by:</h1>
<div class="grid-container">
        <div class="row">
            <div class="grid-item">
                <img class="sponsor-img" src="{{ "/assets/img/sponsors/amazon.png" | relative_url }}" alt="amazon">
            </div>
            <div class="grid-item">
                <img class="sponsor-img" src="{{ "/assets/img/sponsors/cohere.png" | relative_url }}" alt="cohere">
            </div>
        </div>
        <div class="row">
            <div class="grid-item">
                <img class="sponsor-img" src="{{ "/assets/img/sponsors/intel.png" | relative_url }}" alt="intel">
            </div>
            <div class="grid-item">
                <img class="sponsor-img" src="{{ "/assets/img/sponsors/toloka.png" | relative_url }}" alt="toloka">
            </div>
        </div>
</div>