<h1>Sponsored by:</h1>
<div class="grid-container">
        <div class="row">
            <div class="sponsor-grid-item">
                <a href="www.amazon.science"><img class="sponsor-img" src="{{ "/assets/img/sponsors/amazonscience.png" | relative_url }}" alt="amazon"></a>
            </div>
            <div class="sponsor-grid-item">
                <a href="www.cohere.com"><img class="sponsor-img" src="{{ "/assets/img/sponsors/cohere.png" | relative_url }}" alt="cohere"></a>
            </div>
            <div class="sponsor-grid-item">
                <a href="www.intel.com"><img class="sponsor-img" src="{{ "/assets/img/sponsors/intel.png" | relative_url }}" alt="intel"></a>
            </div>
            <div class="sponsor-grid-item">
                <a href="www.toloka.ai"><img class="sponsor-img" src="{{ "/assets/img/sponsors/toloka.png" | relative_url }}" alt="toloka"></a>
            </div>
        </div>
</div>