<h1>Organizers</h1>
<div class="grid-container">
        <div class="row">
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/rbernardi.jpeg" | relative_url }}" alt="rbernardi">
                <a href="https://disi.unitn.it/~bernardi/">Raffaella Bernardi</a>
                <p>University of Trento</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/rfernandez.png" | relative_url }}" alt="rfernandez">
                <a href="https://staff.fnwi.uva.nl/r.fernandezrovira/">Raquel Fernández</a>
                <p>University of Amsterdam</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/mgiulianelli.png" | relative_url }}" alt="mgiulianelli">
                <a href="https://glnmario.github.io/">Mario Giulianelli</a>
                <p>UCL</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/shakimov.jpg" | relative_url }}" alt="shakimov">
                <a href="https://sherzod-hakimov.github.io/">Sherzod Hakimov</a>
                <p>University of Potsdam</p>
            </div>
        </div>
        <div class="row">
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/akoller.png" | relative_url }}" alt="akoller">
                <a href="https://www.coli.uni-saarland.de/~koller/">Alexander Koller</a>
                <p>Saarland University</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/dtle.jpeg" | relative_url }}" alt="dtle">
                <a href="https://www.amazon.science/author/dieu-thu-le">Dieu-Thu Le</a>
                <p>Amazon - AGI, Germany</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/olemon.jpg" | relative_url }}" alt="olemon">
                <a href="https://www.edinburgh-robotics.org/academics/oliver-lemon">Oliver Lemon</a>
                <p>Heriot-Watt University</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/dmazzaccara.jpg" | relative_url }}" alt="dmazzaccara">
                <a href="https://www.linkedin.com/in/davide-mazzaccara/">Davide Mazzaccara</a>
                <p>University of Trento</p>
            </div>
        </div>
        <div class="row row-2-items">
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/dschlangen.jpg" | relative_url }}" alt="dschlangen">
                <a href="https://www.ling.uni-potsdam.de/~das/">David Schlangen</a>
                <p>University of Potsdam</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/organizers/asuglia.jpeg" | relative_url }}" alt="asuglia">
                <a href="https://www.edinburgh-robotics.org/academics/alessandro-suglia">Alessandro Suglia</a>
                <p>University of Edinburgh</p>
            </div>
        </div>
</div>
<h1>With invaluable support from:</h1>
<div class="grid-container">
        <div class="row">
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/lfranceschetti.jpeg" | relative_url }}" alt="lfranceschetti">
                <a href="https://www.linkedin.com/in/luca-franceschetti-953979226/">Luca Franceschetti</a>
                <p>ETH Zurich, MSc</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/nhorst.jpeg" | relative_url }}" alt="nhorst">
                <a href="https://www.linkedin.com/in/nicola-horst-3a947b252/?originalSubdomain=de">Nicola Horst</a>
                <p>University of Potsdam, MSc</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/fmomente.jpeg" | relative_url }}" alt="fmomente">
                <a href="https://www.linkedin.com/in/filippo-moment%C3%A8-9a9200152/">Filippo Momentè</a>
                <p>University of Trento, MSc</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/psadler.jpeg" | relative_url }}" alt="psadler">
                <a href="https://www.linkedin.com/in/philipp-sadler-73135895/?originalSubdomain=de">Phillip Sadler</a>
                <p>University of Potsdam, PhD</p>
            </div>
        </div>
        <div class="row">
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/aschmidt.jpeg" | relative_url }}" alt="aschmidt">
                <a href="https://www.linkedin.com/in/antonia-schmidt-cl/?originalSubdomain=de">Antonia Schmidt</a>
                <p>University of Potsdam, MSc</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/msullivan.jpg" | relative_url }}" alt="msullivan">
                <a href="https://www.acsu.buffalo.edu/~mjs227/">Michael Sullivan</a>
                <p>Saarland University, PhD, Postdoc</p>
            </div>
            <div class="grid-item">
                <img src="{{ "/assets/img/supporters/atestoni.jpeg" | relative_url }}" alt="atestoni">
                <a href="https://albertotestoni.github.io/">Alberto Testoni</a>
                <p>Amsterdam UMC, Postdoc</p>
            </div>
        </div>
</div>
