<div class="workshop-announcement">
    <h4 class="workshop-date-banner">
        October 28th @
        <img src="{{ "/assets/img/emnlp2026logo.png" | relative_url }}" alt="EMNLP 2026" class="emnlp-logo">
    </h4>

    <h1>Invited Speakers</h1>
    <div class="grid-container">
        <div class="row">
            <div class="grid-item speaker-grid-item">
                <img src="{{ "/assets/img/speakers/joyce_chai.jpg" | relative_url }}" alt="Joyce Chai">
                <a href="https://web.eecs.umich.edu/~chaijy/">Joyce Chai</a>
                <p>Professor<br><strong>University of Michigan</strong></p>
            </div>
            <div class="grid-item speaker-grid-item">
                <img src="{{ "/assets/img/speakers/abdellah_fourtassi.png" | relative_url }}" alt="Abdellah Fourtassi">
                <a href="https://afourtassi.github.io/">Abdellah Fourtassi</a>
                <p>Associate Professor<br><strong>Aix-Marseille University</strong><br>Deputy Director of Research<br><strong>Institute of Language, Communication and the Brain (ILCB)</strong></p>
            </div>
            <div class="grid-item speaker-grid-item">
                <img src="{{ "/assets/img/speakers/michael_c_frank.jpg" | relative_url }}" alt="Michael Frank">
                <a href="https://psychology.stanford.edu/people/michael-frank">Michael Frank</a>
                <p>Professor<br><strong>Stanford University</strong><br></p>
            </div>
            <div class="grid-item speaker-grid-item">
                <img src="{{ "/assets/img/speakers/michael_franke.jpg" | relative_url }}" alt="Michael Franke" class="michael-franke-photo">
                <a href="https://michael-franke.github.io/heimseite/">Michael Franke</a>
                <p>Professor<br><strong>University of Tübingen</strong></p>
            </div>
        </div>
    </div>

    <h1>Schedule</h1>
    <p class="schedule-tba">To be announced soon</p>

    <hr class="section-divider">
</div>
