---
layout: default
---
<article>
  <div>
    <header class="header-home">
      <h1 class="site-title">{{ site.title | escape }}</h1>
      <h4>{{ site.subtitle | escape }}</h4>
    </header>
  </div>

  <div class="container page-content">
    <div class="news-box">
          <h1>Latest News</h1>
  <div class="news-list">
    <ul>
      <li>
            <div class="news-item">[<a href="https://aclanthology.org/2025.emnlp-main.1517/">Link</a>] Our paper describing the challenge's environment was published and presented at EMNLP 2025. </div>
      </li>
      <li>
            <div class="news-item">[<a href="https://aclanthology.org/2025.findings-emnlp.1092/">Link</a>] Our paper "Triangulating LLM Progress through Benchmarks, Games, and Cognitive Tests" was published on Findings of ACL and presented at EMNLP 2025. </div>
      </li>
    </ul>
  </div>
  <div class="news-link">
    <a href="/news">View all news</a>
  </div>
</div>
  <section>
    {{ content }}
  </section>
    {%- include team.html -%}
  </div>

</article>
